
:root {
    --theme-orange-color: #ef4f4f;
}

section.main-article-page.page-title {
    background-size: 100%;
    padding: 10rem 0;
}

section.main-article-page.page-title::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    filter: brightness(.25) blur(1px);
    background-image: url("../images/bg/article-banner.jpg");
    background-size: 120%;
    background-repeat: no-repeat;
}

.articlepage .gradientText {
    color: #f35626;
    font-weight: 600;
    background-image: linear-gradient(135deg, var(--theme-primary-color), var(--theme-orange-color)); /* main theme-secondary is a bit dark and blends in with background, blog and article page alone have a custom secondary color (theme-orange-color) */
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}


section.main-article-page h1 {
    letter-spacing: .25rem;
    color: white;
    font-weight: 700;
    font-size: 5rem;
    margin-bottom: 2rem;
    line-height: 3rem;
}



.articles-container {
    width: 90%;
    margin: 0 auto;
    padding: 1rem 2.5rem;
    
    display: flex;
    justify-content: center;
    align-items: center;

}


.article-card {
    border: 1px solid rgb(108, 108, 108);
    cursor: pointer;
    height: 400px;
    max-width: 650px;
    border-radius: 12px;
    overflow: hidden;
    background-image: url("../images/articles/visa_passport.jpg");
    background-position: 30% 100%;
    background-size: cover;
}

.article-card::before {
    content: '';
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, transparent 70%, rgba(0, 0, 0, .8));
}

.article-card .article-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.article-card .info {
    padding: 0 1rem;
    margin-top: 1rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    transition: all .4s ease;
}


.article-card .subtitle {
    font-size: 1rem;
    color: rgba(255, 255, 255, .6);
}

.article-card:hover .info {
    transform: translateY(-240%);
}

.primary-footer ul li a {
    font-weight: 500;
}

.blog-divider {
  max-width: max-content;
  margin: 0 auto;
  padding-right: 2rem;
  opacity: .7;
  mask-image: linear-gradient(to right, transparent, white, white, transparent);
}