

  
  .join-team {
    position: relative;
    height: 60vh;
    background: url('../images/careers/bg.png') no-repeat center center/cover;
  }
  
  .overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(45deg, rgba(180, 132, 0, 0.7), rgba(150, 0, 0, 0.7)); /* Semi-transparent overlay */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    color: white;
}

  
  .content h1 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    text-transform: uppercase;
    
    letter-spacing: 1px;
  }
  
  .content p {
    font-size: 1.2rem;
    margin: 0px 0 0;
  }
  
  .illustration img {
    width: 650px;
    height: auto;
  }
  

  
  .hiring-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
    

  }
  
  .hiring-container {
    display: flex;
    align-items: center;
    justify-content:space-around;
    width: 80%;
  }
  
  .image-container img {
    width: 400px;
    height: auto;
  
  }
  
  .content-container h1 {
    font-size: 50px;

  }
  
  .show-btn {
    background: linear-gradient(45deg, #edb106, #b20d0c);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s;
  }
  
  .show-btn:hover {
    background: linear-gradient(45deg, #b20d0c, #edb106);
  }
  
  .job-openings {
    display: none;
    margin-top: 20px;
  }
  .job-openings h2{
    text-align: center;
  }
  
  .job-card {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    padding: 15px 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-width: 700px;
    border:#edb106 1px solid;
  }
  
  .job-card h3 {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
  }
  
  .job-card p {
    margin: 5px 0 0;
    color: #888888;
  }
  
  .apply-button {
    background: #0d1e32;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.3s;
  }
  
  .apply-button:hover {
    background: #102a47;
  }
  
  @media screen and (max-width:  1106px) {
    .overlay {
        flex-direction: column;
        text-align: center;
        padding: 10px;
      }
      .hiring-container {
       
        width: 90%;
        padding: 20px;
      }
      .vectorimg{
        margin-top: 20px;
      }
      .job-openings h2{
        font-size:2rem;
      }
      
  }
  @media screen and (max-width:  900px) {
    .hiring-container {
       flex-direction: column;
      }
      .image-container img {
        padding-top: 20px;
        width: 250px;
        height: auto;
      
      }
      
}
 
  
  /* Responsive Styling */
  @media screen and (max-width: 768px) {
    
    
    .content h1 {
      font-size: 2rem;
    }
  
    .content p {
      font-size: 1rem;
    }
  
    .illustration img {
      width: 100%;
    }
  
    .job-card {
      flex-direction: column;
      gap: 10px;
      min-width: auto;
      padding: 10px;
      margin: 10px 0;
    }
  }
  
  @media screen and (max-width: 480px) {
    .join-team{
        height: 50vh;
      }
    .overlay {
      padding: 10px;
    }
  
    .content h1 {
      font-size: 1.5rem;
    }
  
    .content p {
      font-size: 0.9rem;
    }
  
    .job-card {
      padding: 10px;
      text-align: center;
    }
  }
  
