/* @import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic); */

/* Override UGG site */
#main {width: 100%; padding:0;}
.content-asset p {margin:0 auto;}
.breadcrumb {display:none;}

/* Helpers */
/**************************/
.margin-top-10 {padding-top:10px;}
.margin-bot-10 {padding-bottom:10px;}

/* Typography */
/**************************/
#parallax-world-of-ugg h1 {font-size:24px; font-weight:400; text-transform: uppercase; color:black; padding:0; margin:0;}
#parallax-world-of-ugg h2 {font-size:70px; letter-spacing:10px; text-align:center; color:white; font-weight:400; text-transform:uppercase; z-index:10; opacity:.9;}
#parallax-world-of-ugg p {font-weight:400; font-size:20px; line-height:40px; color: #dfdada;}
.first-character {font-weight:400; float: left; font-size: 61px; line-height: 64px; padding-top: 4px; padding-right: 8px; padding-left: 3px; font-family: 'Source Sans Pro', sans-serif;}

.sc {color: #3b8595;}
.ny {color: #3d3c3a;}
.atw {color: #c48660;}

/* Section - Title */
/**************************/
#parallax-world-of-ugg .title {background: white; padding: 60px; margin:0 auto; text-align:center;}
#parallax-world-of-ugg .title h1 {font-size:35px; letter-spacing:8px;}

/* Section - Block */
/**************************/
#parallax-world-of-ugg .block {background: transparent; padding: 40px; margin-bottom: 2%; text-align:justify; margin-left: 8%; margin-right: 8%;}
#parallax-world-of-ugg .block-gray {background: #f2f2f2;padding: 60px;}
#parallax-world-of-ugg .section-overlay-mask {position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: black; opacity: 0.70;}

/* Section - Parallax */
/**************************/
#parallax-world-of-ugg .parallax-one {padding-top: 200px; padding-bottom: 200px; overflow: hidden; position: relative; width: 100%; background-attachment: fixed; background-size: cover; -moz-background-size: cover; -webkit-background-size: cover; background-repeat: no-repeat; background-position: top center;}
#parallax-world-of-ugg .parallax-two {padding-top: 200px; padding-bottom: 200px; overflow: hidden; position: relative; width: 100%; background-attachment: fixed; background-size: cover; -moz-background-size: cover; -webkit-background-size: cover; background-repeat: no-repeat; background-position: top center;}
#parallax-world-of-ugg .parallax-three {padding-top: 200px; padding-bottom: 200px; overflow: hidden; position: relative; width: 100%; background-image: url('../images/techmango2-parallax.jpg'); background-attachment: fixed; background-size: cover; -moz-background-size: cover; -webkit-background-size: cover; background-repeat: no-repeat; background-position: center center;}
#parallax-world-of-ugg .parallax-four {padding-top: 200px; padding-bottom: 200px; overflow: hidden; position: relative; width: 100%; background-image: url('../images/devden-parallax.jpg'); background-attachment: fixed; background-size: cover; -moz-background-size: cover; -webkit-background-size: cover; background-repeat: no-repeat; background-position: top center;}
/* Extras */
/**************************/
#parallax-world-of-ugg .line-break {border-bottom:1px solid black; width: 150px; margin:0 auto;}

/* Add custom animation delays for multiple instances if needed */
.animate__animated {
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
  }
  
  .animate__fadeIn {
    animation-name: fadeIn;
  }
  
  /* Optionally you can add a fade-in animation */
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  

/* Media Queries */
/**************************/
@media screen and (max-width: 959px) and (min-width: 768px) {
  #parallax-world-of-ugg .block {padding: 40px; width:620px;}
}
@media screen and (max-width: 767px) {
  #parallax-world-of-ugg .block {padding: 30px; width:420px;}
  #parallax-world-of-ugg h2 {font-size:30px;}
  #parallax-world-of-ugg .block {padding: 30px;}
  #parallax-world-of-ugg .parallax-one, #parallax-world-of-ugg .parallax-two, #parallax-world-of-ugg .parallax-three {padding-top:100px; padding-bottom:100px;}
}
@media screen and (max-width: 479px) {
  #parallax-world-of-ugg .block {padding: 30px 15px; width:100%; margin: 0;}
}

.title-goc{
    text-align: center;
    font-weight: 800;
    color: black;
}
.title-goc-p{
    color: #535151;
    text-align: center;
}
.parallax-one, .parallax-two, .parallax-three, .parallax-four {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;    /* Centers vertically */
    height: 60vh;          /* Full viewport height */
    width: 100%;            /* Full width */
  }

  .parallax-title{
    padding: 3% 2%;
  }

  .highlight-word-anmBox {
    font-size: 60px; 
    font-weight: bold; 
    display: inline-block; 
    margin-right: 5px; 
    vertical-align: middle;
    color: #edb106;
  }
  
  
  .comp-logo {
    width: 60%; /* Ensures the image doesn't overflow */
    height: auto;    /* Maintains aspect ratio */
    z-index: 2;
  }

  .animated-boxes-anmBox {
    display: grid; /* Use grid layout for easy arrangement */
    grid-template-columns: repeat(4, 1fr); /* 4 boxes per row */
    gap: 20px; /* Spacing between boxes */
    margin-top: -4%;
    margin-left: 8%;
    margin-right: 8%;
  }
  
  .box-anmBox {
    background-color: transparent;
    border: 1px solid #ccc; /* Subtle border */
    border-radius: 10px; /* Rounded corners */
    padding: 6% 0 0 0; /* Space inside the box */
    display: flex;
    align-items: center; /* Centers content vertically */
    justify-content: center; /* Centers content horizontally */
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #333; /* Dark text color */
    opacity: 0; /* Hidden initially */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 
    inset 0 0 30px rgba(237, 177, 6, 0.5), /* Equal glow on all sides */
    0 10px 20px rgba(0, 0, 0, 0.2); /* Outer shadow */
    height: 70px;
  }

  .box-anmBox p{
    line-height: 25px !important;
    padding: 2% 1%;
  }
  
  .box-anmBox:hover {
    transform: scale(1.1); /* Slight zoom-in effect */
    box-shadow: 
    inset 0 0 30px rgba(243, 114, 8, 0.5), /* Equal glow on all sides */
    0 10px 20px rgba(0, 0, 0, 0.5); /* Outer shadow */
  }

  .box-anmBox.animate__animated {
    animation-duration: 1s;
    animation-delay: 0.3s; /* Each box's animation is delayed differently */
    animation-fill-mode: forwards; /* Ensures the animation stays visible */
  }
  
  .box-anmBox:nth-child(1) {
    animation-delay: 0.3s;
  }
  
  .box-anmBox:nth-child(2) {
    animation-delay: 0.5s;
  }
  
  .box-anmBox:nth-child(3) {
    animation-delay: 0.7s;
  }
  
  .box-anmBox:nth-child(4) {
    animation-delay: 0.9s;
  }
  
  .box-anmBox:nth-child(5) {
    animation-delay: 1.1s;
  }
  
  .box-anmBox:nth-child(6) {
    animation-delay: 1.3s;
  }
  
  .box-anmBox:nth-child(7) {
    animation-delay: 1.5s;
  }
  
  .box-anmBox:nth-child(8) {
    animation-delay: 1.7s;
  }
  
  @media (max-width: 768px) {
    .animated-boxes-anmBox {
      grid-template-columns: repeat(2, 1fr); /* 2 boxes per row on smaller screens */
    }
  
    .box-anmBox {
      height: 100px; /* Adjust height for smaller screens */
      font-size: 14px;
    }
  }
  
  
  
  .parallax-section {
    position: relative;      
    height: auto;          
    width: 100%;              
    overflow: hidden;     
  }
  
  .parallax-section::before {
    content: '';             
    position: absolute;       
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); 
    z-index: 1;             
  }
  .parallax-section-white {
    position: relative;      
    height: auto;          
    width: 100%;              
    overflow: hidden;     
  }
  
  .parallax-section-white::before {
    content: '';             
    position: absolute;       
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(136, 135, 135, 0.5); 
    z-index: 1;             
  }
  
  .goc-content-section{
    padding: 1% 2% 4% 2%;
    background-color: black;
  }

  .parallax-quote{
    text-align: center;
    font-style: italic;
    color: #edb106 !important;
    padding-top: 5%;
    font-size: 18px !important;
  }

  /* counter */
  .container-counter {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    padding: 2% 3%;
    background-color: white;
  }

  /* Counter */
  .counter-counter {
    text-align: center;
  }

  /* Counter Icon */
  .counter-icon-counter {
    background: linear-gradient(45deg, #edb106, #b20d0c);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 40px;
    margin-bottom: 20px;
  }

  /* Counter Timer */
  .counter-timer-counter {
    font-weight: 600;
    font-size: 45px;
    color: black;
  }

  /* Counter Title */
  .counter-title-counter {
    letter-spacing: 1.5px;
    font-weight: 600;
    font-size: 18px;
    color: #212020;
  }

  /* Percentage Suffix */
  .counter-timer-counter#percent-counter::after {
    content: "+";
    font-size: 35px;
    font-weight: 600;
  }

  @media(max-width:500px){
    .container-counter{
      flex-wrap: wrap;
    }
  }

  /* about */
  .container-abtGrid {
    display: flex;
    flex-wrap: wrap;
  }
  
  /* Left Section (Values) */
  .values-section-abtGrid {
    position: relative;
    background: linear-gradient(
        rgba(255, 102, 0, 0.5), /* Orange overlay with transparency */
        rgba(255, 102, 0, 0.5)
      ),
      url('../images/bg/about-right-bg.jpg'); /* Replace with the actual image path */
    background-size: cover;
    background-position: center;
    color: white;
    padding: 60px 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .values-section-abtGrid::before {
    content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3); /* Slight dark overlay for better text contrast */
  z-index: 0;
  }
  /* .values-section-abtGrid {
    flex: 1 1 40%;
    color: white;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(45deg, #edb106, #b20d0c);
    align-items: center;
  }
   */
  .content-abtGrid {
    max-width: 400px;
    z-index: 2;
  }
  
  .title-abtGrid {
    font-size: 2rem;
    margin-bottom: 1rem;
    line-height: 45px;
  }
  
  .text-abtGrid {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    color: #595858;
    text-align: justify;
  }
  .text-abtGrid-1{
    color: white;
    text-align: justify;
  }
  
  .learn-more-abtGrid {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  /* Main Content Section */
  .main-content-abtGrid {
    flex: 1 1 60%;
    background: white;
    padding: 2%;
  }
  
  .intro-abtGrid {
    margin-bottom: 2rem;
  }
  
  .welcome-abtGrid {
    font-size: 1.5rem;
    color: gray;
  }
  
  .brand-name-abtGrid {
    font-size: 2.5rem;
    line-height: 50px;
  }
  
  .description-abtGrid {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: gray;
  }

  .image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    gap: 10px;
    padding: 10px;
  }
  
  .grid-item {
    position: relative;
    overflow: hidden;
  }
  
  .grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  
  /* Custom grid sizes */
  .large {
    grid-column: span 6;
    grid-row: span 1;
  }
  
  .medium {
    grid-column: span 3;
    grid-row: span 1;
  }
  
  .small {
    grid-column: span 3;
    grid-row: span 1;
  }
  
  .wide {
    grid-column: span 4;
    grid-row: span 1;
  }
  
  .tall {
    grid-column: span 1;
    grid-row: span 1;
  }

  
  /* Responsive Design */
  @media (max-width: 768px) {
    .container-abtGrid {
      flex-direction: column;
    }
  
    .values-section-abtGrid, .main-content-abtGrid {
      flex: 1 1 100%;
    }
  
    .image-gallery-abtGrid {
      grid-template-columns: 1fr;
    }
  }

  .cards-container-choose {
    display: flex;
    gap: 2%;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    padding: 20px;
    margin-bottom: 3%;
  }
  
  /* Individual Card Styling */
  .card-choose {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex: 1;
    max-width: 300px;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    transform: translateY(20px); /* Initial position */
    pointer-events: none;
  }

  /* After animation starts, make the card visible */
.card-choose.animate__animated {
  opacity: 1;
  transform: translateY(0); /* Final position after animation */
}

/* Slow down the animation */
.card-choose.animate__slow {
  animation-duration: 2s !important;
}

/* Hover Effect */
.card-choose:hover {
  box-shadow: 0 0 10px 2px rgba(255, 165, 0, 0.7), 0 0 20px 4px rgba(255, 140, 0, 0.5), 0 0 30px 6px rgba(255, 120, 0, 0.3);
}

/* Re-enable hover effect after animation */
.card-choose.animate__animated:hover {
  pointer-events: auto; /* Re-enable hover after animation */
}
  
  /* Icon Wrapper Styling */
  .icon-wrapper-choose {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .icon-choose {
    font-size: 56px;
    color: white;
  }
  
  /* Background Colors */
  .orange-background-choose {
    background-color: #b20d0c; /* Orange color matching the image */
  }
  
  .pink-background-choose {
    background-color: #edb106; /* Pink color matching the image */
  }
  
  .purple-background-choose {
    background-color: #1c8289; /* Purple color matching the image */
  }
  
  /* Title Styling */
  .card-title-choose {
    font-size: 17px;
    font-weight: bold;
    color: #333;
    padding: 4% 2%;
    line-height: 25px;
  }

  .c1{
    background-color: #ede5e5;
  }
  .c2{
    background-color: #f5f5b9;
  }
  .c3{
    background-color: #f1f1f5;
  }
  
  /* Text Styling */
  .card-text-choose {
    font-size: 0.9rem;
    color: #555;
    line-height: 1.5;
    padding: 0 15px;
    text-align: justify;
  }

  .wcu-intro{
    text-align: center;
    padding: 3% 2% 1% 2%;
  }
  .wcu-intro h6{
    color: white;
    width: 60%;
    margin: 0 auto;
  }
  
  /* Responsive Design */
  @media (max-width: 568px) {
    .cards-container-choose {
      flex-direction: column;
      align-items: center;
    }
  
    .card-choose {
      max-width: 90%;
      margin-bottom: 5%;
    }
    .brand-name-abtGrid{
      font-size: 30px !important;
      text-align: center;
    }
    .welcome-abtGrid{
      text-align: center;
    }
    .wcu-intro h6{
      width: 100%;
    }
    .comp-logo{
      width: 100%;
    }
    .highlight-word-anmBox{
      font-size: 35px;
    }
    #parallax-world-of-ugg p{
      font-size: 18px;
      line-height: 35px;
      text-align: center;
    }
    #parallax-world-of-ugg .block{
      margin: 0;
    }
  }
  
